*{
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
  scroll-margin-top: -75px;
}

::selection {
  color: #eee;
  background: #FD6262;
}

@font-face {
  font-family: ubuntu_lite;
  src: url(Ubuntu-Light.ttf);
}

@font-face {
  font-family: ubuntu;
  src: url(ubuntu.ttf);
}

* {
  font-family: ubuntu_lite;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(100, 100, 100, .5);
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border: 3px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}



body {
  width: 100%;
}



.topnav_wrapper{
  width: 100%;
  background-color: #141416;
  position: relative;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 40;
  overflow: hidden;
}

.topnav{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.topnav > a {
  font-family: ubuntu_lite;
  display: inline-block;
  color: #eee;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 10px 30px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.topnav > a:hover {
  color: #FD6262;
}





.section_one {
  display: flex;
  height: 140vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}


.section_one > video {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  overflow: hidden;
  z-index: -999;
  position: fixed;
}

.section_one_head{ 
 position: absolute;
 top: 40%; 
 left: 50%;  
 -webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
 z-index: 5;
}

.icon{
  display: block;
  width: 100px;
  margin: auto;
}


@font-face {
  font-family: anshul;
  src: url(anshul_font_handlee.ttf);
}


.anshul{
  font-family: anshul;
  color: #eee;
  font-size: 6vw;
  text-align: center;
}

.generalist{
  color: #eee;
  font-size: 1vw;
  text-align: center;
}


.section_one_link_icons{
/*  width: 200px;
height: 100px; */
width: 10%;
min-width: 200px;
height: 8%;
min-height: 100px;
position: absolute;
top: 68%; 
left: 50%;  
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.section_one_links_artstation{
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  text-decoration: none;
}

.section_one_links_artstation > p {
  color: #eee;
  opacity: 0;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.section_one_artstation_imgs{
  width: 50%;
  height: 50%;
  margin: auto;
  position: relative;
}

.section_one_artstation_imgs > img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%; 
  left: 50%;  
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: height 0.5s ease-in-out,width 0.5s ease-in-out, top 0.5s;
  transition-timing-function: ease-in-out;
}

.section_one_links_artstation:hover .artstation_white{
  opacity: 1;   
  top: 0%; 
  left: 50%; 
  width: 150%;
  height: 150%;
}

.section_one_links_artstation:hover .artstation_text{
  opacity: 1;   
}




.section_one_links_linkedin{
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  text-decoration: none;
}

.section_one_links_linkedin > p {
  color: #eee;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.section_one_linkedin_imgs{
  width: 50%;
  height: 50%;
  margin: auto;
  position: relative;
}

.section_one_linkedin_imgs > img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%; 
  left: 50%;  
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: height 0.5s ease-in-out,width 0.5s ease-in-out, top 0.5s;
  transition-timing-function: ease-in-out;
}


.section_one_links_linkedin:hover .linkedin_white{
  opacity: 1;   
  top: 0%; 
  left: 50%; 
  width: 150%;
  height: 150%;
}

.section_one_links_linkedin:hover .linkedin_text{
  opacity: 1;   
}





.section_one_overlay{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(20,20,22,0.3), rgba(20,20,22,0.5), rgba(20,20,22,1));
}





.section_two{
  height: 70vh;
  background-color: #141416;
  position: relative;
}

.skill_box{
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 75vh;
  z-index: 11;
  border: 1px #3F4349 solid;
  background-color: #141416;
}

.skill{
  float: left;
  width: 39.9%;
  height: 100%;
  background: url("section_two_img.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill > p {  
  text-align: center;
  font-family: anshul;
  color: #eee;
  font-size: 3vw;
}

.skill_space{
  background-color: #3F4349;
  float: left;
  width: 0.1%;
  max-width: 1px;
  height: 100%;
}

.skill_details{
  float: left;
  width: 60%;
  height: 100%;
  position: relative;
}

.skill_details_box_main{
  width: 50%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.skill_another_detail_box{
  width: 100%;
  height: 100%;
  position: relative;
}

.skill_another_detail_box > div{
  transition: 0.3s;
}

.skill_another_detail_box > div:hover {
  box-shadow: 0px 0px 8px 0 #FD6262;
}

.skill_detail_box1{
  background-color: #1b1c1e;
  width: 49%;
  height: 30%;
  position: absolute;
  top: 10%;
  left: 0%;
  border-radius: 15px;
  overflow: hidden;
}

.skill_detail_box2{
  background-color: #1b1c1e;
  width: 49%;
  height: 30%;
  position: absolute;
  top: 41%;
  left: 0%;
  border-radius: 15px;
  overflow: hidden;
}


.skill_detail_box3{
  background-color: #1b1c1e;
  width: 49%;
  height: 30%;
  position: absolute;
  bottom: 10%;
  right: 0%;
  border-radius: 15px;
  overflow: hidden;
}

.skill_detail_box4{
  background-color: #1b1c1e;
  width: 49%;
  height: 30%;
  position: absolute;
  bottom: 41%;
  right: 0%;
  border-radius: 15px;
  overflow: hidden;
}


.skill_boxes_inside_detail{
  width: 100%;
  height: 100%;
}

.skill_icon{
  width: 100%;
  height: 60%;
  position: relative;
}

.skill_icon > img{
  width: 100px;
  height: 100px;  
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.skill_text{
  width: 100%;
  position: relative;
  height: 40%;
}

.skill_text > p{  
  display: block;
  position: absolute;
  color: #eee;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}





.section_three{
  display: block;
  overflow: auto;
  min-height: 100vh;
  /*background-color: #141416;*/
  background-color: #fff;

}


.section_three > h3 {
  color: #eee;
  display: inline-block;
  /*background-color: #eee;*/
  background-color: #141416;
  padding: 20px 40px;
  margin-left: 100px;
  border-radius: 0px 0px 10px 10px;
}

.port_box{
  width: 80%;
  margin: auto;
}

.port_box_one {
  width: 100%;
  height: 33vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.port_box_one > div {
  width: 32%;
  height: 100%;
  border-radius: 20px;
}

.port_box_one > div > p {
  color: #eee;
  text-align: center;
}

.port_box_slider{
  width: 100%;
  height: 100%;
}






.port_box_one > div {
 background: #000;
 /*background: -moz-linear-gradient(-45deg, #000 0%, #000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);*/
 /* FF3.6-15 */
 /*background: -webkit-linear-gradient(-45deg, #000 0%, #000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);*/
 /*background: -webkit-linear-gradient(-45deg, #000 0%, #000 25%, #ee9617 50%, #fe5858 74%);*/
 background: -webkit-linear-gradient(#000 0%, #000 25%, #FD6262 50%, #fe5858 74%);
 /* Chrome10-25,Safari5.1-6 */
 /*background: linear-gradient(135deg, #000 0%, #000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);*/
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /*background: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);*/
 background-size: 400% 400%;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
 position: relative;
 transition: 1s all;
}


.port_box_img {
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: screen;
  cursor: pointer;
}

.modal{
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  transition: 0.5s;
}

.modal_child{
  width: 100%;
  height: 100%;
  position: relative;
}

.modal_close_button{
  position: absolute;
  width: 3%;
  height: 3%;
  z-index: 51;
  top: 0px;
  right: 0px;
  margin: 10px;
}

.modal_close_button_child{
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.leftright {
 height: 5px;
 width: 50px;
 position: absolute;
 margin-top: 24px;
 background-color: #eee;
 border-radius: 2px;
 transform: rotate(45deg);
 transition: all 0.3s ease-in;
}

.rightleft {
 height: 5px;
 width: 50px;
 position: absolute;
 margin-top: 24px;
 background-color: #eee;
 border-radius: 2px;
 transform: rotate(-45deg);
 transition: all 0.3s ease-in;
}

.modal_close_cross {
   color: white;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 0.6em;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: all 0.3s ease-in;
   opacity: 0;
}
 .modal_close_cross {
   margin: 60px 0 0 5px;
   position: absolute;
}
 .modal_close_button_child:hover .leftright {
   transform: rotate(-45deg);
   background-color: #fe5858;
}
 .modal_close_button_child:hover .rightleft {
   transform: rotate(45deg);
   background-color: #fe5858;
}
 .modal_close_button_child:hover label {
   opacity: 1;
}


.modal_left_arrow{
  cursor: pointer;
  border: solid #eee;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 55;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.modal_left_arrow:hover{
  border: solid #fe5858;
}

.modal_right_arrow{
  cursor: pointer;
  border: solid #eee;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-radius:5px;
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 55;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.modal_right_arrow:hover{
  border: solid #fe5858;
}



.modal_big_img{
  width: 90%;
  height: 80%;
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 52;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  border-radius: 10px;

    -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: background-image 0.5s ease-in-out;
  -ms-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;

  background-size: cover;
}




#port_img_1{
  background: url("101.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



#port_img_2{
  background: url("102.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_3{
  background: url("3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_4{
  background: url("4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_5{
  background: url("5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_6{
  background: url("6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_7{
  background: url("7.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_8{
  background: url("104.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#port_img_9{
  background: url("105.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}



.port_box_title {
  opacity: 0;
  position: relative;
  transition: 1s;transition-timing-function: ease-in-out;
  letter-spacing: 0.05em;
}
.port_box_one > div:hover {
 background-position: 20% 20%;
}
.port_box_one > div:hover .port_box_title {
  opacity: 1;
}

.section_three > video {
  display: block;
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}













.section_four {
  width: 100%;
  min-height: 100vh;
  background-color: #141416;
  position: relative;
}

.section_four_box{
  width: 90%;
  height: 70vh;
  background-color: #141416;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: #3F4349 solid;
  border-width: thin;
}

.section_four_image{
  background-image: url("section_four_img.jpg");
  background-size: cover;
  float: left;
  width: 59.9%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_four_image > h2 {
  font-family: anshul;
  color: #eee;
  font-size: 3vw;
}

.section_four_space{
  float: left;
  width: 0.1%;
  max-width: 0.1px;
  height: 100%;
  background-color: #3F4349;
}

.section_four_about_me_box{
  float: left;
  width: 40%;
  height: 100%;
}










.section_five_pre_img{
  width: 100%;
  height: 40vh;
  background: url(101.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}








.section_five{
  width: 100%;
  overflow: auto;
  background-color: #141416;
}

.section_five > h3 {
  color: #000;
  display: inline-block;
  background-color: #eee;
  padding: 20px 40px;
  margin-left: 100px;
  border-radius: 0px 0px 10px 10px;
}



.section_five_info{
  float: left;
  width: 40%;
}

.section_five_info_detail {
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section_five_info_detail > p{
  color: #eee;
  padding: 10px 0px;
}

.section_five_contact{
  float: left;
  width: 60%;
}
